.footer-bank {
  background-color: #1a237e;
  color: #ffffff;
  padding: 16px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  /* Default Mobile: larghezza intera */
  width: 100%;

  /* Desktop: sottrai la larghezza della sidebar */
  @media (min-width: 768px) {
    width: calc(100% - 280px);
  }
}
